---
permalink: /assets/css/main.css
---

// 1. Set your custom variables BEFORE importing Bulma


// 2. Import Bulma from node_modules
@use "bulma/bulma";
// 3. Add any of your own custom CSS here
.main-wrapper {
    min-height: 100vh;
}

// Target H3 tags specifically inside your main content area
main h3 {
    @extend .title;
    @extend .is-3;
    margin-top: 1.5rem; // Add back some spacing Bulma strips away
}
